.general-layout {
  display: flex;
}

.map-wrapper {
  width: 50%;
}

.map {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 50%;
}

.search-layout {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ant-input:placeholder-shown {
  text-overflow: ellipsis;
  position: fixed;
  display: block;
  margin: 1%;
  width: 45%;
}

.ant-input-focused,
.ant-input:focus {
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
  border-right-width: 1px;
  outline: 0;
  position: fixed;
  display: block;
  margin: 1%;
  width: 45%;
}

.ant-input {
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
  border-right-width: 1px;
  position: fixed !important;
  display: block !important;
  margin: 1% !important;
  width: 45% !important;
}

.search-list {
  position: fixed;
  display: block;
  margin: 10% 1%;
  background-color: white;
  width: 45%;
}
